@using DoorangWorld.Core.Entities;
@model Setting
@{
    ViewData["Title"] = "Update";
}

<h1>Update</h1>

<h1>Update</h1>

<h1>update</h1>
<form>
    <div class="mb-3">
        <label asp-for="Key" class="form-label">Key</label>
        <input asp-for="Key" class="form-control">
        <span asp-validation-for="Key"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Value" class="form-label">Value</label>
        <input asp-for="Value" class="form-control">
        <span asp-validation-for="Value"></span>
    </div>

   
    <button type="submit" class="btn btn-primary">Update</button>
</form>