@using DoorangWorld.Core.Entities;
@model ExploreWorld


<h1>Delete</h1>

<form method="post" enctype="multipart/form-data">
    <div class="card" style="width: 18rem;">
        <img src=".." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">sdfdftle</h5>
            <p class="card-text">Desccription</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <div>
            <button type="submit" class="btn btn-danger">Delete</button>
            <a asp-action="index" asp-controller="exploreworld"  class="btn btn-dark"></a>

        </div>
    </div>
</form>